.output-wrapper span{
   font-size: 1vw;
   font-style: italic;
   color: rgb(29, 29, 29);
}

.output-wrapper {
   color: rgb(54, 54, 54);
   position: relative;
   width: fit-content;
   max-width: 100%;
   overflow: auto;
}

.vat-selector {
   text-align: center;
   height: 2.5vh;
   width: 5vw;   
   min-width: 50px;
   display: block;
   font-size: 1.25vh;
   font-style: italic;
   box-sizing: border-box;
   background-color: #c9c2bd;
   border-radius: 5px;
   border-color: rgba(173, 33, 33, 0);
   border-style: solid;
   text-align: center;
   color: rgb(0, 0, 0);
   outline: none;
   display: inline;
   white-space:nowrap;
}

.vat-selector::placeholder {
   color: rgb(0, 0, 0);
}

@media (max-height: 750px) { 
   .outputs-wrapper span {
      font-size: 10px;
   }
}