@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  font-weight: bold;
}

.App {
  text-align: center;
  background-color: #84b9c9;
  color: rgb(54, 54, 54);
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif !important;
  font-size: 2vw;
  font-style: bold;
  transition: all .25s;
  overflow: hidden;
}

.night {
  background-color: rgb(31, 31, 31);
}

.logo {
  position: relative;
  filter: brightness(.5);
  width: 30%;
  top: 5%;
  transition: all .25s;
}

.night-logo {
  filter: brightness(1);
}

.border-box {
  height: 50vw;
  max-height: 45vh; 
  width: 30vw;
  border-radius: 8px;
  position: fixed;
  background-size: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.get-started-msg {
  position: fixed;
  top: 20%;
  width: 100%;
  font-size: clamp(1rem, 3vmin, 5rem);
  left: 50%;
  color: rgb(63, 63, 63);
  padding: 1%;
  transform: translate(-50%);
  border-radius: 4px;
}

.form-wrapper {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}

.outputs-wrapper {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  max-width: 90%;
  border-radius:4px;
  padding: 1%;
  text-align: left;
  font-size: 1.25vw;
}

.fade-anim {
  -webkit-animation: text-focus-in .4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in .4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

/* Breakpoints */
@media (max-height: 750px) { 
  .logo {
    left: 20%;
    top: 30%;
    width: 20%;
    position: fixed;
    transform: rotate(-90deg);
  }
  .border-box{
    top: 50vh;
    max-height: 90vh;
  }
  .form-wrapper {
    top: 30%;
  }
  .outputs-wrapper {
    font-size: 20px;
    padding: 0.25%; 
    height: fit-content;
  }
  .outputs-wrapper span {
    font-size: 15px;
  }
}

@media (max-height: 400px) {
  .outputs-wrapper {
    font-size: 10px;
  }
  .outputs-wrapper span {
    font-size: 10px;
  }
}

/* Breakpoints */

@media (max-height: 900px) {
  .logo{
    width: 20%
  }
  .output-wrapper {
    font-size: 15px
  }
    .outputs-wrapper span {
    font-size: 15px;
  }
}


@media (max-height: 750px) { 
  .get-started-msg{
    font-size: 20px
  }
  .logo {
    left: 20%;
    top: 30%;
    width: 20%;
    position: fixed;
    transform: rotate(-90deg);
  }
  .border-box{
    top: 50vh;
    max-height: 90vh;
  }
  .form-wrapper {
    top: 30%;
  }
  .outputs-wrapper {
    font-size: 15px;
    padding: 0.25%; 
    width: fit-content;
    height: fit-content;
  }
  .outputs-wrapper span {
    font-size: 15px;
  }
  .input-field {
    /* height: 8vh; */
    min-height: 30px;
    height: 8vh;
    font-size: 25px;
    max-width: 8vw;
  }
}


@media (max-height: 700px) { 
   .outputs-wrapper span {
      font-size: 10px;
   }
  .vat-selector {
    font-size: 10px
  }
}

@media (max-height: 400px) {
  .outputs-wrapper {
    font-size: 10px;
  }
  .outputs-wrapper span {
    font-size: 10px;
  }
}


